@use "../styles/" as *;
@use "../utils/breakpoints" as *;

ul,
li,
a {
  list-style: none;
  text-decoration: none;
  color: inherit;
}

.container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  justify-items: center;
  gap: 1.5rem;

  @include breakpointMax(mobile) {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  flex-direction: column;
}

.button {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: $clara;
  color: $escura;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $primaria-escura;
  }
}

.button--primary {
  display: inline-block;
  font-family: "Ubuntu Sans", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 0.75rem 1.5rem;
  background-color: #ca3c25;
  color: hsl(55, 92%, 86%);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.6s ease;
  &:hover {
    background-color: #8e1a0f;
    transform: scale(1.1) translateY(-4px);
    box-shadow: 0 6px 10px black;
  }
}

.container.hero__sections {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-content: center;
  justify-items: center;
  text-align: center;
  margin: 2rem;
  gap: 3rem 1rem;
  padding: 2rem;
  background: rgba(42, 73, 39, 0.44);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.7px);
  -webkit-backdrop-filter: blur(3.7px);
  border: 1px solid rgba(42, 73, 39, 0.77);

  @include breakpointMax(tablet) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin: 1rem;
    padding: 1.5rem;
    gap: 1.5rem;
  }

  @include breakpointMax(mobile) {
    margin: 0.5rem;
    padding: 1rem;
  }

  & .section.section--doacoes {
    grid-area: 1 / 1 / 2 / 2;

    @include breakpointMax(tablet) {
      grid-area: auto;
    }
  }
  & .section.section--voluntarios {
    grid-area: 1 / 2 / 2 / 3;

    @include breakpointMax(tablet) {
      grid-area: auto;
    }
  }
  & .section.section--projetos {
    grid-area: 2 / 1 / 3 / 3;

    @include breakpointMax(tablet) {
      grid-area: auto;
    }
  }
}
.section {
  display: flex;
  align-content: center;
  background-color: $clara-escura;
  flex-direction: column;
}
